body {
}

.correct {
    color: forestgreen;
}

.wrong {
    color: red;
}

#score {
    width: 20%;
    background-color: beige;
    color: forestgreen;
}


#answer-info-hidden,
#question-info-hidden{
    display: none;
}


.answer-info-line {
    display:block;
    clear: both;

}

.answer-info-col{
float:left;
}

.error {
color: red;
}

fieldset {
    width:30%;
}

#dialog-form {

border: 1px solid black;
background-color: beige;
position:fixed;
top: 30%;
left: 30%;
margin-top: -70px;
margin-left: -50px;
height: 100px;
width: 200px;
padding: 10px;

}
#dialog-answer {
    display:block;
}
